* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(186,130,63,0.44861694677871145) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(186,130,63,0.44861694677871145) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(186,130,63,0.44861694677871145) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ba823f",GradientType=1);
    font-family: 'Roboto', 'sans-serif';
}

/* Header */

header {
    background-image: url(../img/fallout-img.jpg);
    background-size: 100% auto;
    height: 630px;
    background-repeat: no-repeat;
}

header h1 {
    padding-top: 140px;
    padding-left: 60px;
    margin: 0;
    font-size: 80px;
    color: white;
    letter-spacing: 0.01em;
}

header h1 span {
    font-style: italic;
    font-weight: 100;
    color: rgb(255, 174, 0);
}

.rotate {
    margin-top: 15px;
    background-color: orange;
    margin-left: 60px;
    width: 60px;
    height: 212px;
    float: left;
}
.rotate p {
    margin: 0;
    font-family: Roboto;
    color: white;
    font-weight: 600;
    font-size: 36px;
    width: 233px;
    height: 214px;
    transform: rotate(270deg);
    text-align: center;
}


.text_header {
    padding-top: 30px;
    padding-left: 150px;
    width: 300px;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    color: white;
    letter-spacing: 0.025em;
}


/* Section */

li {
    list-style: none;
}

.container li::before {
    content: "•";
    height: 1px;
    padding-bottom: 10px;
    padding-right: 40px;
    float: left;
    font-size: 36px;
    margin-top: -10px;
}

h2 {
    padding: 25px 0;
    font-weight: 300;
    font-size: 18px;
}

p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}
li p {
    line-height: 24px;
    text-align: none;
}
span {
    font-weight: 600;
    font-style: italic;
}

p span:last-child {
    color: rgb(255, 199, 44);
}

li p .black {
    color: black;
}


.barre_jaune {
    margin: 100px 0 0 230px;
    width: 9px;
    height: 365px;
    background-color: rgb(255, 199, 44);
    border-radius: 2px;
    float: left;
}

.container {
    padding: 100px 310px 100px 310px;
}

footer {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%);
    height: 290px;
}

footer p {
    position: relative;
    top: -140px;
    display: inline;
    color: white;
    padding-right: 200px;
}
footer ul {
    padding: 0 10%;
    text-align: center;
}
footer li {
    display: inline;
    position: relative;
    top: -80px;
}

footer li:first-child {
    float: left;
}

footer .goodJob {
    top: 30px;
}

footer li:last-child {
    float: right;
}

footer li img {
    width: 190px;
}


.inImg {
    font-weight: 600;
    color: rgb(51, 51, 51);
    position: relative;
    top: -5px;
    left: 12%;
    width: 148px;
}
.inImg p {
    text-align: center;
    position: relative;
    color: rgb(51, 51, 51);
    padding-right: 0;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
}
.inImg p span {
    color: rgb(51, 51, 51);
    font-weight: 300;
}

.inImg p span span {
    font-size: 20px;
}
.inImg p span span:last-child {
    font-weight: 600;
}


@media screen and (max-width: 768px) {
    header {
        height: 445px;
        background-size: 125% auto;
    }

    header h1 {
        padding-top: 14%;
        padding-left: 60px;
        font-size: 50px;
    }

    .rotate {
        width: 48px;
        height: 140px;
    }

    .rotate p {
        font-size: 24px;
        width: 160px;
        height: 140px;
    }

    .text_header {
        padding-left: 125px;
        width: 220px;
        font-size: 24px;
    }

    .barre_jaune {
        margin: 100px 0 0 20px;
    }

    .container {
        padding: 100px 70px 100px 100px;
    }

    .container p {
        font-size: 12px;
    }

    .container h2 {
        font-size: 14px;
    }

    .container li p {
        font-size: 12px;
    }

    footer li img {
        width: 130px;
    }

    .inImg {
        top: 25px;
        left: 11%;
        width: 105px;
    }

    .inImg p {
        font-size: 16px;    
    }

    .inImg p span span{
        font-size: 14px;    
    }
    footer {
        height: 240px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    header {
        height: 500px;
        background-size: 110% auto;
    }

    header h1 {
        padding-top: 10%;
        padding-left: 60px;
        font-size: 60px;
    }

    .rotate {
        width: 48px;
        height: 160px;
    }

    .rotate p {
        font-size: 28px;
        width: 176px;
        height: 160px;
    }

    .text_header {
        padding-top: 15px;
        padding-left: 130px;
        width: 235px;
        font-size: 28px;
    }

    .barre_jaune {
        margin: 100px 0 0 70px;
    }

    .container {
        padding: 100px 120px 100px 150px;
    }

    .container p {
        font-size: 14px;
    }

    .container h2 {
        font-size: 16px;
    }

    .container li p {
        font-size: 14px;
    }

    footer li img {
        width: 160px;
    }

    .inImg {
        top: 5px;
        left: 11%;
        width: 130px;
    }
    .inImg p {
        font-size: 20px;    
    }
    .inImg p span span{
        font-size: 18px;    
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    header {
        height: 520px;
    }

    header h1 {
        padding-top: 10%;
        padding-left: 60px;
        font-size: 70px;
    }

    .rotate {
        width: 48px;
        height: 180px;
    }

    .rotate p {
        font-size: 32px;
        width: 190px;
        height: 180px;
    }

    .text_header {
        padding-top: 25px;
        padding-left: 130px;
        width: 270px;
        font-size: 32px;
    }

    .barre_jaune {
        margin: 100px 0 0 140px;
    }

    .container {
        padding: 100px 200px 100px 220px;
    }
}
